/*

font-family: 'Yellowtail', cursive;
font-family: 'Open Sans', sans-serif;

BROWN #44292A
WHITE #F4F6EF
GREEN #749C75
*/

body {
  background: #F4F6EF
}

h2 {
  padding: 0;
  margin: 12px 0 0 0;
  color: #749C75;
  font-family: 'Yellowtail', cursive;
  font-size: 50px;
}

nav {
  height: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #F4F6EF;
  margin: 0 0 20px 0;
}

.start {
  display: flex;
  justify-content: center;
}
.start a {
  font-size: 50px;
  background: #749C75;
  text-align: center;
  text-decoration: none;
  color: #F4F6EF;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

.start a:hover, .start a:active, .start a:visited {
  background: #749C75;
  text-decoration: none;
  color: #F4F6EF;
}

.start .button {

}

.row {
  width: 100%
}

.ion-gear-a {
  position: fixed;
  font-size: 50px;
  padding: 0;
  margin: 0;
  top:0;
  left: 12px;
  transition: all 0.2s;
}

.ion-gear-a:hover {
  transform: rotate(20deg);
}

.setting-container {
  position: fixed;
  width: 100%;
  top: 80px;
}

.options {
  border-radius: 10px;
  border: 10px solid #749C75;
  box-shadow: 0 10px 10px rgba(68,41,42,0.5);
  background: #F4F6EF;
}

.options h3 {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #44292A;
}

.options label {
  color: #44292A;
  font-weight: thin;
  font-family: 'Open Sans', sans-serif;
}

input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  margin: 10px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0.6px #749c75, 0px 0px 0px #83a784;
  background: #749c75;
  border-radius: 1.3px;
  border: 0.2px solid #749c75;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #749c75, 0px 0px 0px #83a784;
  border: 1px solid #749c75;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #f4f6ef;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #749c75;
}
input[type=range]::-moz-range-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0.6px #749c75, 0px 0px 0px #83a784;
  background: #749c75;
  border-radius: 1.3px;
  border: 0.2px solid #749c75;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #749c75, 0px 0px 0px #83a784;
  border: 1px solid #749c75;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #f4f6ef;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #749c75;
  border: 0.2px solid #749c75;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0.6px #749c75, 0px 0px 0px #83a784;
}
input[type=range]::-ms-fill-upper {
  background: #749c75;
  border: 0.2px solid #749c75;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0.6px #749c75, 0px 0px 0px #83a784;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #749c75, 0px 0px 0px #83a784;
  border: 1px solid #749c75;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background: #f4f6ef;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #749c75;
}
input[type=range]:focus::-ms-fill-upper {
  background: #749c75;
}
